.App {
  text-align: center;
}
.invisible { 
  display: none;
 }
button { 
  border-radius: 4px;
}
.inline{
  display: inline-block;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.primary-header{ 
  font-size: 17.5px;
  color : #181818;
 }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.secondary-header{
  font-size: 16px;
  color : #787878;
}
.video-container{
  position : relative;
  width : 640px;
}
.overlay-controls, .canvas{
  position : absolute;
}
.overlay-controls{
  background-color: rgba(255, 255, 255, 0.3);
  border : 3px solid gray;
  z-index : 50;
  width: 95%;

}
.tab{
  display : inline-block;
  padding-right : 10px;
  padding-left : 10px;
  border : 1px solid black;
  text-align: center;
}
ul { 
  padding: 0 ;

 }
.top-tabs{
  padding : 0;
}

h3{
  margin : 0;
  margin-bottom : 10px;
}
.active{
  background-color: darkgray;
}
.inactive{
  background-color: white;
}
canvas{
  display: block; 
  margin : 0 auto;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#canvas{
   touch-action: none;
}

@media screen and (min-width: 992px) {
  canvas,.video-container{
    width: 640px;
    height: auto;
  }

}
@media screen and (max-width: 992px) {
  canvas,.video-container{
    width: 640px;
    height: auto;
  }

}
@media screen and (max-width: 600px) {
  canvas,.video-container{
    display: block; 
    width: 375px;
    height: auto;
  }

}
.slider-label{
  vertical-align: middle;
  padding-top: 5px;
  font-size: 14px;
  display : inline-block;
  position: absolute;
  z-index: 100;
  margin : 0 auto;
  text-align: center;
}
.live-video{
  width: 100%;
  height: auto;
}
.App-link {
  color: #61dafb;
}
.center-block{
  text-align: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}


.large-button {
  font-size : 14px;
  border-radius: 4px;
}
.small-button {
  font-size : 12px;
  border-radius: 4px;
}
#hiddenCanvas { 
  display : none;
}
.calibrate-icon { 
  vertical-align: middle;
  left : 0;
  position : absolute;
}
.icon{
  display: inline-block;
}
