@media screen and (max-width: 992px) {
  video{
    width: 640px;
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  video{
    display: block; 
    width: 375px;
    height: auto;
  }
}